<div class="logo">
  <%= image_tag "Snapt-logo-white.jpg" %>
  <% if current_user %>
    <h3><%= current_user.username %></h3>
    <%= sign_out_btn  %>
  <% end %>
</div>
<div id="main">

</div>
<script>
  Snapt.currentUser = new Snapt.Models.User({ id: <%= current_user.id %> })
</script>
