<header id='header'>

</header>
<div id="main">

</div>
<script>
  Snapt.currentUser = new Snapt.Models.User({ id: <%= current_user.id %> })
  Snapt.currentUser.fetch();

  $(document).ready(function(){
    Snapt.initialize();
  });
</script>
