<header id='header'></header>

<div id="photo-title-modal"></div>

<div id="main" class="container"></div>

<script>
  Snapt.currentUser = new Snapt.Models.User({ id: <%= current_user.id %> })
  Snapt.currentUser.fetch();

  $(document).ready(function(){
    Snapt.initialize();
  });
</script>
