<span class="user-profile label label-info">
  <% if (comment.author) { %>
    <%= comment.author.escape('username') %>
  <% } %>
</span>
<span>
  <%= comment.escape('content') %>
</span>
<span class="badge">
  <%= comment.escape('time_ago') %>
</span>
