<form class="like">
    <div class="input-group input-group-lg footer-hook">

      <!-- <div class="input-group-addon like-btn">
      </div>
      <div class="form-control photo-title-hook">

      </div>
      <div class="input-group-addon like-counter"> -->

      </div>
    </div>
</form>
