<div>
  <%= photo.get("time_ago") %> ago
  <br>
  <%= photo.cloudinaryUrl() %>
</div>

<div class="title">
</div>

<ul class="comments list-group">
</ul>

<% if (photo.isAuthor()) { %>
  <br>
  <button type="button" class="delete-photo" >Delete</button>
<% } %>
