<div class="spacer">
  <div class="author-info"></div>
  <span class="badge photo-time-ago">
    <%= photo.escape('time_ago') %>
  </span>

</div>
<div class="snap">
  <%= photo.cloudinaryUrl({
    gravity: "custom",
    crop: 'thumb',
    width: photo.width(),
    height: photo.height()
  }) %>
</div>

<div class="likes"></div>

<div class="title"></div>

<ul class="comments list-group"></ul>

<% if (photo.isAuthor()) { %>
  <br>
  <button type="button" class="delete-photo btn btn-danger" >Delete</button>
<% } %>
