<h1><%= user.escape('username') %> 's Profile</h1>
<% if ( user.id === Snapt.currentUser.id ) { %>
  <button type="button" id='widget' >Upload a Picture bruh</button>
<% } %>
<ul class='feed-photos'>
</ul>
