<h1><%= user.escape('username') %> 's Profile</h1>
<% if ( user.authorized() ) { %>
  <button type="button" id='widget' >Upload a Picture bruh</button>
<% } else { %>

  <% if (Snapt.currentUser._isFollowee(user)) { %>
    <button type="button" class="unfollow">Unfollow</button>
  <% } else { %>
    <button type="button" class="follow">Follow</button>
  <% } %>
<% } %>


<ul class='feed-photos'>
</ul>
