<h1><%= user.escape('username') %></h1>
<hr>
<% if ( user.authorized() ) { %>
  <button type="button" id='widget' class='btn btn-snapt btn-lg' >Snap</button>
<% } else { %>

  <% if (Snapt.currentUser._isFollowing(user)) { %>
    <button type="button" class="unfollow btn btn-danger">Unfollow</button>
  <% } else { %>
    <button type="button" class="follow btn btn-success">Follow</button>
  <% } %>
<% } %>

<ul class='feed-photos list-group'>
</ul>
