<ul class='nav'>
 <li>
   <a href="#users/<%= Snapt.currentUser.get('id') %>" ><%= Snapt.currentUser.escape('username')%>'s profile</a>
 </li>
 <li>
   <button type="button" class="sign-out-btn">Sign Out</button>
 </li>
 <li>
   <input type="text" class='user-search' placeholder='search for users'>
 </li>
</ul>
