<form class="like">
    <div class="input-group input-group-lg">
      <div class="input-group-addon like-btn">
      </div>
      <div class="form-control">
      </div>
      <div class="input-group-addon">
        <span class="label label-snapt label-as-badge">
          <%= photo.escape("likes_count") %>
        </span>
      </div>
    </div>
</form>
