/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@viewport{
     zoom: 1.0;
     width: device-width;
}

.user-show {
  margin: 0 auto;
}

.user-show  {
  margin: 0 auto;
}

body {
  background-color: #aaa
}

.logo {
  min-width: 320px;
  width: 40%;
  margin: 0 auto;
  max-width: 500px;
}

.logo  ul {
  list-style: none;
}

.logo input {
  text-align: center;
}

.logo * {
  width: 100%;
  border-radius: 5px;
}

.logo li:last-child {
  margin-top: 5px;
}

.logo > img {
  width: 100%;
  background-image: none;
}

.auth-form > ul  {
  list-style: none;
}


img {
  background-image: image-url("spinner.gif");
  background-repeat: no-repeat;
  background-position: center center;

}
