/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require like
 *= require static_pages
 *= require nav
 *= require title
 *= require user
 *= require comment
 *= require title
 *= require_tree .
 */
$grid-float-breakpoint: 30px;

@import "bootstrap-sprockets";
@import "bootstrap";

@viewport{
     zoom: 1.0;
     width: device-width;
}

div.spacer {
  display:block;
  width: 100%;
  height: 50px;
}

span.photo-time-ago{
  float: right;
  margin-top: 10px;
}

.label-as-badge {
    border-radius: 1em;
}


.label-snapt {
  background-color: #4777d2;
}


body {
  background-color: #26457F;
  padding-top: 70px;

}
.container {

}
.jumbotron {
  transform: translateX(-14px)
}
form ul li{
  list-style: none;
  padding-left: 0;
}

.auth-form > ul  {
  list-style: none;
}

.list-group-item {
  margin: 10px auto;
  background-color: #eee;
  display: inline-block;
  width: 100%;
  border-radius: 15px;
}

.list-group-item:last-child, .list-group-item:first-child {
  border-radius: 15px;
}

img {
  background-image: image-url("spinner.gif");
  background-repeat: no-repeat;
  background-position: center center;
}

div.author-info {
  display: block;
}

.list-group-item img {
    display: block;
    max-width: 100%;
    max-height: 650px;
    width: auto;
    height: auto;
    margin: 0 auto;
}
