
form.like {
  div.input-group-addon {
    border-top-left-radius: 0px;
    padding-top: 0;
    padding-bottom: 0;
    transition: background-color 1s ease;

    &:hover {
      background-color: #4777d2;
    }
  }

  div.form-control {
    border-top-right-radius: 0px;
  }

  .glyphicon-heart {
    padding: 13px;
    position: relative;

    // transition: border .5s ease;
    // transition-property: color;
    // transition-duration: 1s;


  }

  .like-btn {
    font-size: 1.3em;
    padding: 0;

    &:hover {
      cursor: pointer;
    }
  }
}

.like-index {
  margin-bottom: 10px;
}

.like-animate {
  color: red
}
