
form.photo-footer {

  .glyphicon-heart {
    padding: 13px;
    position: relative;

    transition: transform .3s ease, color .5s ease;

    &:hover {
      transform: scale(2);
    }
  }

  .like-btn {
    font-size: 1.3em;
    padding: 0;

    &:hover {
      cursor: pointer;
    }
  }
}

.like-index {
  margin-bottom: 10px;
}

.liked {
  color: #4777d2;
}
