
nav {
  padding-top: 5px;
  height: 61px;
}

.navbar-brand {
  background-image: image-url("nav-logo.png");
  background-size: 137px;
  width: 137px;
  margin-right: 20px;
}

nav li.active-tab {
  transition: font-size .2s ease;
  // transform: scale(1.5);
  font-size: 1.5em;
  a {
    transition: font-size .2s ease;
    text-decoration: none;
  }

}

nav li.user-thumb{
  transition: font-size .2s ease;
  // text-decoration: none;
    &:hover {
      font-size: 1.5em;
    }
}

.go-right {
  position: relative;
  left: 20px;
}

.user-thumb {
  width: 158px
}
