div.title > .well {
  margin-bottom: 0px
}

input.title-edit {
  border-style: none;
  text-align: center;
  width: 100%;
    &:focus {
      outline: none;
    }
}

div.photo-title {
  &:hover {
    cursor: pointer;
  }
}
